<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: header"></nav>

<p th:unless="${eventCategories} and ${eventCategories.size()}">No categories have been created yet!</p>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>Category</th>
    </tr>
    </thead>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td><a th:text="${category.categoryName}" th:href="'/events?categoryId=' + ${category.id}"></a></td>
    </tr>
</table>

</body>
</html>
